<div class="phone">
  <h1>{{phone.title}}</h1>

  <img src="{{phone.img}}" alt="{{phone.title}}">

  <p class="description">{{phone.description}}</p>
  
  <p class="price big">{{phone.price}}</p>
</div>