<h1>Edit {{phone.title}}</h1>

<form action="/phones/edit" method="POST" class="phone-form">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{phone.title}}">
    <label for="title">Name of the Phone</label>
    <span class="helper-text" data-error="Enter the name of the phone"></span>
  </div>

   <div class="input-field">
    <input id="description" name="description" type="text" class="validate" required min="5"  value="{{phone.description}}">
    <label for="price">Description</label>
    <span class="helper-text" data-error="Enter description"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1"  value="{{phone.price}}">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required  value="{{phone.img}}">
    <label for="img">URL image</label>
    <span class="helper-text" data-error="Enter url of image"></span>
  </div>

  <input type="hidden" name="id" value="{{phone.id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button type="submit" class="btn btn-primary">Edit phone</button>
</form>

<form action="/phones/remove" method="POST">
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <input type="hidden" name="id" value="{{ phone.id }}">
  <button class="btn red">Remove phone</button>
</form>